node_modules/
.git/
Dockerfile*
.dockerignore
*.log*
.env*
coverage/
backend/vendor/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/storage/logs/
frontend/.next/
frontend/out/
