includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    stubFiles:
        - phpstan-model-properties.stub
    ignoreErrors: []
    excludePaths:
        - app/Filament/
